body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
 

.header{
    display: flex;
    padding: 8px 200px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    flex: 1;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 8px;
}

h2, h1{
    margin: 0;
}

.hero{
    display: flex;
    justify-content: center;
    padding: 100px 200px;
    background-color: #1F2937;
    gap: 12px;
}

.hero img{
    width: 500px;
    height: 250px;
}

.info{
    flex-basis: 400px;
}

.info .title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.info p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 6px 18px;
    border: none;
}

.wrap-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap-main .title{
    font-size: 36px;
    font-weight: bolder;
    padding: 24px 0;
}